<tr>
    <td>1</td>
    <td>Nome Completo</td>
    <td>123.456.789-00</td>
    <td>Rua Fulano Beltrano</td>

    <td>
        <a href="/table-funcionarios"class="btn border-shadow update">
            <span><i class="fas fa-edit"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span><i class="fas fa-minus-circle"></i></span>
        </a>
    </td>
</tr>